.button {
    background-color: $grey;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-body-medium;
    font-weight: 300;
    line-height: $line-height-xlarge;
    margin: $spacing-small 0; 
    padding: 0 $spacing-small;
    text-decoration: none;

    @media  (min-width: $desktop-breakpoint)  {
        margin: $spacing-medium 0; 
    }
}

.button--small {
    background: $medium-grey;
    font-size: $font-body-small;
    padding: 0 $spacing-medium; 
}

.button--link {
    background: none;
}

.button--secondary {
    background: $medium-grey;
}
