.course-list_courses {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media  (min-width: $tablet-breakpoint) {
        flex-direction: row;
        flex-wrap: wrap;
    }

}