.enrollment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: $spacing-medium 0;

    @media  (min-width: $tablet-breakpoint) {
        flex-direction: row;
    }

    input {
        background: $light-grey;
        margin: $font-body-small 0;
        @media  (min-width: $tablet-breakpoint) {
            margin-right: $spacing-medium;
        }
    }
}