.form {
    display: flex;
    flex-direction: column;

    > * {  // select all direct decendants of form
        margin-bottom: $spacing-medium;
    }
}

.form__error {
    color: $error-color;
    margin: 0 $spacing-small;
}

.form__success {
    background: lighten($success-color, 30%);
    margin: $spacing-medium;
    padding: $spacing-medium;
}