.form {
    display: flex;
    flex-direction: column;

    > * {  // select all direct decendants of form
        margin-bottom: $spacing-medium;
    }
}

.form__error {
    margin: 0 0 $spacing-medium 0;
    font-style: italic;
}