.header {
    background-color: white;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__logo {
    margin-bottom: -3rem;
}

.header__link {
    text-decoration: none;
    margin-right: $s-size;
    color: $grey;
}