.header {
    background-color: white;
    height: 7rem;
}

.header__content {
    background: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: $s-size;
    padding: 0 $s-size;
    position: relative;
    z-index: 100;
}

.header__logo {
    margin: 1rem 0 -2rem 2rem;
}

.header__navigation-desktop {
    align-self: center;
}

.header__link {
    text-decoration: none;
    padding: 0 $s-size;
    color: $grey;
}
    
.hamburger {
    cursor: pointer;
    align-self: center;
    .bar {
        width: 30px;
        height: 4px;
        background-color: $grey;
        margin: 6px 0;
        transition: 0.4s;
    }
    &.x .bar:first-child {
        transform: rotate(-45deg) translate(-7px, 6px);
    }
    &.x .bar:nth-child(2) {opacity: 0;}
    
    &.x .bar:last-child {
        -webkit-transform: rotate(45deg) translate(-8px, -7px);
        transform: rotate(45deg) translate(-8px, -7px);
    }
}  

.navlinks-mobile {
    position: absolute;
    top: -70rem;
    left: 0;
    right: 0rem;
    width: 100%;
    background: white;
    border: 2px solid $light-grey;
    font-size: $font-size-large;
    text-align: center;
    transition: 0.6s;
    animation-timing-function: ease-out;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    
    &.showMenu {
        -webkit-transform: translateY(77rem);
        transform: translateY(77rem);
        visibility: visible;
        opacity: 0.95;
    }
}

.header__link--mobile {
    border-bottom: 2px solid $light-grey;
    padding: $m-size $l-size;

}

.header__link--desktop {
    display: inline-block;
    &::after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $medium-grey;
        transition: width .3s;
    }

    &:hover::after {
        width: 100%;
    }
}