.header {
    background-color: white;
    height: 7rem;
}

.header__content {
    align-items: top;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__link {
    text-decoration: none;
    padding: 0 $s-size;
    color: $grey;
}

.header__navigation-mobile {
    position: relative;
    text-align: right;
    display: flex;
    flex-direction: column;
    .hamburger {
        align-self: flex-end;
        cursor: pointer;
        .bar {
            width: 30px;
            height: 4px;
            background-color: $grey;
            margin: 6px 0;
            transition: 0.4s;
        }
        &.x .bar:first-child {
            -webkit-transform: rotate(-45deg) translate(-7px, 6px);
            transform: rotate(-45deg) translate(-7px, 6px);
        }
        &.x .bar:nth-child(2) {opacity: 0;}
        
        &.x .bar:last-child {
            -webkit-transform: rotate(45deg) translate(-8px, -7px);
            transform: rotate(45deg) translate(-8px, -7px);
        }
    }  

    .navlinks-mobile {
        position: absolute;
        top: 3rem;
        left: 0;
        right: 0rem;
        width: 30rem;
        background: white;
        border: 2px solid $light-grey;
        display: flex;
        flex-direction: column;
        font-size: $font-size-large;
        margin-top: $m-size;
        text-align: center;
        transition: 0.6s;
        animation-timing-function: ease-out;
        visibility: hidden;
        opacity: 0;

        &.showMenu {
            -webkit-transform: translateX(-20rem);
            transform: translateX(-20rem);
            visibility: visible;
            opacity: 0.9;
        }
    }
    
    .header__link {
        border-bottom: 2px solid $light-grey;
        padding: $m-size $l-size;

    }
}




