.text-input {
    border: none;
    font-size: $font-size-small;
    font-weight: 300;
    height: 50px;
    padding: $m-size $s-size; 
    margin-bottom: $s-size; 
    outline: none;
    transition: 0.3s;

    &:focus {
        background: $medium-grey;
        color: white;
        font-weight: 400;
        &::placeholder {
            color: white;
        }
    }
    
    @media  (min-width: $desktop-breakpoint)  {
        margin: $m-size 0; 
    }
}

.select {
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}