.text-input {
    border: none;
    font-size: $font-size-small;
    font-weight: 300;
    height: 50px;
    padding: $m-size $s-size;  
}

.select {
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}