.text-input {
    border: none;
    font-size: $font-body-small;
    font-weight: 300;
    height: 50px;
    padding: $spacing-medium $spacing-small; 
    margin-bottom: $spacing-small; 
    outline: none;
    transition: 0.3s;

    &:focus {
        background: $medium-grey;
        color: white;
        font-weight: 400;
        &::placeholder {
            color: white;
        }
    }
    
    @media  (min-width: $desktop-breakpoint)  {
        margin: $spacing-medium 0; 
    }
}

.text-input--small {
    padding: 0 $spacing-medium; 
    height: 35px;
}

.select {
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}