.team-tile {
    background: $light-grey;
    margin: 2rem;
    padding: 7rem 1rem 3rem;
    width: 15;
    min-width: 300px;
}

.profile-icon {
    margin-bottom: $spacing-medium;
    width: 128px;
    height: 128px;
    clip-path: circle(64px at center);
    filter: grayscale(100%);
}

.team-member-name {
    font-size: $font-body-medium;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 2;
}

.team-member-title {
    color: $medium-grey;
    font-size: $font-body-medium;
    font-weight: 200;
    letter-spacing: 1.5px;
    line-height: 2;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.social-icon {
    margin: 0 1rem;
}

a.button {
    color: white;
}