.team-profiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.social-media-icon {
    align-items: center;
    background: white;
    border-radius: 3.5rem;
    display: flex;
    height: 3.5rem;
    justify-content: center;
    margin: 0 0.5rem;
    width: 3.5rem;
}