.user-testimony, .testimonials-subtitle {
    margin: 0 $spacing-large;

    @media  (min-width: $tablet-breakpoint) {
        margin: 0 15rem;
    }
}

.profile-icons__container {
    margin: $spacing-large 0;
    .profile-icon {
        margin: 0 $spacing-small;
        opacity: 0.7;
        &.active {
            opacity: 1;
            transform: scale(1.2);
        }
    }
}

.star {
    opacity: 0.4;
    &.active {
        opacity: 1;
    }
}

.profile-user-name {
    font-size: $font-body-medium;
    font-weight: 600;
    letter-spacing: $letter-spacing-small;
}

.profile-user-title {
    color: $medium-grey;
    font-size: $font-body-medium;
    letter-spacing: $letter-spacing-small;
}

