* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background: $light-grey;
}

.body {
    color: $dark-grey;
    display: block;
    font-size: $m-size; // 16 pixels
    line-height: 1.6;
    width: 100%;
}

button {
    cursor: pointer;
    &:disabled {
        cursor: default;
    }
}

.is-active {
    font-weight: bold;
}