// Colors
$blue: #1c88bf;
$dark-blue: #364051;
$grey: #666;
$dark-grey: #333;
$light-grey: #f7f7f7;
$medium-grey: #CDCDD2;

// Font Sizes
$font-size-small: 1.4rem;
$font-size-medium: 1.8rem;
$font-size-large: 2.5rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$tablet-breakpoint: 47.5rem;
$desktop-breakpoint: 65rem;

// Column Widths
$col-1: 16%;
$col-2: 33%;
$col-3: 50%;
$col-4: 66%;
$col-5: 83%;
$col-6: 100%;